<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>u1E7E0</key>
  <string>u1E_7E_0.glif</string>
  <key>u1E7E2</key>
  <string>u1E_7E_2.glif</string>
  <key>u1E7E3</key>
  <string>u1E_7E_3.glif</string>
  <key>u1E7E5</key>
  <string>u1E_7E_5.glif</string>
  <key>u1E7E6</key>
  <string>u1E_7E_6.glif</string>
  <key>u1E7E9</key>
  <string>u1E_7E_9.glif</string>
  <key>uni1210</key>
  <string>uni1210.glif</string>
  <key>uni1212</key>
  <string>uni1212.glif</string>
  <key>uni1213</key>
  <string>uni1213.glif</string>
  <key>uni1216</key>
  <string>uni1216.glif</string>
</dict>
</plist>
