<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>eight</key>
  <string>eight.glif</string>
  <key>eightsuperior</key>
  <string>eightsuperior.glif</string>
  <key>five</key>
  <string>five.glif</string>
  <key>fivesuperior</key>
  <string>fivesuperior.glif</string>
  <key>four</key>
  <string>four.glif</string>
  <key>foursuperior</key>
  <string>foursuperior.glif</string>
  <key>nine</key>
  <string>nine.glif</string>
  <key>ninesuperior</key>
  <string>ninesuperior.glif</string>
  <key>one</key>
  <string>one.glif</string>
  <key>onesuperior</key>
  <string>onesuperior.glif</string>
  <key>seven</key>
  <string>seven.glif</string>
  <key>sevensuperior</key>
  <string>sevensuperior.glif</string>
  <key>six</key>
  <string>six.glif</string>
  <key>sixsuperior</key>
  <string>sixsuperior.glif</string>
  <key>three</key>
  <string>three.glif</string>
  <key>threesuperior</key>
  <string>threesuperior.glif</string>
  <key>two</key>
  <string>two.glif</string>
  <key>twosuperior</key>
  <string>twosuperior.glif</string>
  <key>u1E7E0</key>
  <string>u1E_7E_0.glif</string>
  <key>u1E7E2</key>
  <string>u1E_7E_2.glif</string>
  <key>u1E7E3</key>
  <string>u1E_7E_3.glif</string>
  <key>u1E7E5</key>
  <string>u1E_7E_5.glif</string>
  <key>u1E7E6</key>
  <string>u1E_7E_6.glif</string>
  <key>u1E7E8</key>
  <string>u1E_7E_8.glif</string>
  <key>u1E7E9</key>
  <string>u1E_7E_9.glif</string>
  <key>u1E7EA</key>
  <string>u1E_7E_A_.glif</string>
  <key>u1E7ED</key>
  <string>u1E_7E_D_.glif</string>
  <key>u1E7EE</key>
  <string>u1E_7E_E_.glif</string>
  <key>u1E7F0</key>
  <string>u1E_7F_0.glif</string>
  <key>u1E7F1</key>
  <string>u1E_7F_1.glif</string>
  <key>u1E7F3</key>
  <string>u1E_7F_3.glif</string>
  <key>u1E7F4</key>
  <string>u1E_7F_4.glif</string>
  <key>u1E7F5</key>
  <string>u1E_7F_5.glif</string>
  <key>u1E7F6</key>
  <string>u1E_7F_6.glif</string>
  <key>u1E7F7</key>
  <string>u1E_7F_7.glif</string>
  <key>u1E7FB</key>
  <string>u1E_7F_B_.glif</string>
  <key>u1E7FC</key>
  <string>u1E_7F_C_.glif</string>
  <key>u1E7FD</key>
  <string>u1E_7F_D_.glif</string>
  <key>u1E7FE</key>
  <string>u1E_7F_E_.glif</string>
  <key>uni1210</key>
  <string>uni1210.glif</string>
  <key>uni1212</key>
  <string>uni1212.glif</string>
  <key>uni1213</key>
  <string>uni1213.glif</string>
  <key>uni1216</key>
  <string>uni1216.glif</string>
  <key>uni121C</key>
  <string>uni121C_.glif</string>
  <key>uni1244</key>
  <string>uni1244.glif</string>
  <key>uni1262</key>
  <string>uni1262.glif</string>
  <key>uni12AA</key>
  <string>uni12A_A_.glif</string>
  <key>uni12AC</key>
  <string>uni12A_C_.glif</string>
  <key>uni12AD</key>
  <string>uni12A_D_.glif</string>
  <key>uni12B0</key>
  <string>uni12B_0.glif</string>
  <key>uni12D0</key>
  <string>uni12D_0.glif</string>
  <key>uni130C</key>
  <string>uni130C_.glif</string>
  <key>uni130D</key>
  <string>uni130D_.glif</string>
  <key>uni134C</key>
  <string>uni134C_.glif</string>
  <key>uni1352</key>
  <string>uni1352.glif</string>
  <key>uni1354</key>
  <string>uni1354.glif</string>
  <key>uni136A.nobar</key>
  <string>uni136A_.nobar.glif</string>
  <key>uni136B.nobar</key>
  <string>uni136B_.nobar.glif</string>
  <key>uni136C.nobar</key>
  <string>uni136C_.nobar.glif</string>
  <key>uni136C.nobar.alt</key>
  <string>uni136C_.nobar.alt.glif</string>
  <key>uni136D</key>
  <string>uni136D_.glif</string>
  <key>uni136D.nobar</key>
  <string>uni136D_.nobar.glif</string>
  <key>uni136F.nobar</key>
  <string>uni136F_.nobar.glif</string>
  <key>uni1370.nobar</key>
  <string>uni1370.nobar.glif</string>
  <key>uni1371.nobar</key>
  <string>uni1371.nobar.glif</string>
  <key>uni1372.nobar</key>
  <string>uni1372.nobar.glif</string>
  <key>uni1373.nobar</key>
  <string>uni1373.nobar.glif</string>
  <key>uni1374.nobar</key>
  <string>uni1374.nobar.glif</string>
  <key>uni1375.nobar</key>
  <string>uni1375.nobar.glif</string>
  <key>uni1376.nobar</key>
  <string>uni1376.nobar.glif</string>
  <key>uni1377.nobar</key>
  <string>uni1377.nobar.glif</string>
  <key>uni1378.nobar</key>
  <string>uni1378.nobar.glif</string>
  <key>uni1379.nobar</key>
  <string>uni1379.nobar.glif</string>
  <key>uni137A.nobar</key>
  <string>uni137A_.nobar.glif</string>
  <key>uni137B.nobar</key>
  <string>uni137B_.nobar.glif</string>
  <key>uni137C.nobar</key>
  <string>uni137C_.nobar.glif</string>
  <key>zero</key>
  <string>zero.glif</string>
  <key>zerosuperior</key>
  <string>zerosuperior.glif</string>
</dict>
</plist>
