<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>lib</key>
  <dict>
    <key>public.layer.locked</key>
    <false/>
    <key>public.layer.name</key>
    <string>public.background</string>
    <key>public.layer.opacity</key>
    <integer>1</integer>
    <key>public.layer.service</key>
    <true/>
    <key>public.layer.visible</key>
    <true/>
    <key>public.layer.wireframe</key>
    <true/>
  </dict>
</dict>
</plist>
