<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>com.schriftgestaltung.Glyphs.fontUserData</key>
  <dict/>
  <key>com.schriftgestaltung.appVersion</key>
  <string>1219</string>
  <key>com.schriftgestaltung.customParameter.GSFont.DisplayStrings</key>
  <string/>
  <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
  <true/>
  <key>com.schriftgestaltung.customParameter.GSFont.disablesLastChange</key>
  <true/>
  <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
  <string/>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
  <integer>400</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
  <integer>100</integer>
  <key>com.schriftgestaltung.disablesAutomaticAlignment</key>
  <true/>
  <key>com.schriftgestaltung.disablesLastChange</key>
  <true/>
  <key>com.schriftgestaltung.fontMasterOrder</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.glyphOrder</key>
  <false/>
  <key>com.schriftgestaltung.keyboardIncrement</key>
  <integer>1</integer>
  <key>com.schriftgestaltung.weight</key>
  <string>Regular</string>
  <key>com.schriftgestaltung.weightValue</key>
  <integer>400</integer>
  <key>com.schriftgestaltung.width</key>
  <string>Regular</string>
  <key>com.schriftgestaltung.widthValue</key>
  <integer>100</integer>
  <key>public.glyphOrder</key>
  <array>
    <string>uni136C</string>
    <string>uni1291</string>
    <string>uni120E</string>
    <string>uni124D</string>
    <string>quotesingle</string>
    <string>hyphenminus</string>
    <string>exclam.punct</string>
    <string>figuredash</string>
    <string>uni12E3.chaine</string>
    <string>uni12FD</string>
    <string>uni125A</string>
    <string>r</string>
    <string>uni2DA4</string>
    <string>uni1202</string>
    <string>quotedblleft.punct</string>
    <string>uni1242</string>
    <string>zerosuperior</string>
    <string>uniE33F</string>
    <string>Ccedilla</string>
    <string>uni1267</string>
    <string>uniFE03</string>
    <string>Ucircumflex</string>
    <string>onehalf</string>
    <string>uni12C0</string>
    <string>uni1347</string>
    <string>uni2DB9</string>
    <string>uniAB14</string>
    <string>uni120A</string>
    <string>uni12C9</string>
    <string>uni2D8B</string>
    <string>uniE2A9</string>
    <string>uni126A</string>
    <string>otilde</string>
    <string>uni128B</string>
    <string>dotlessi</string>
    <string>W</string>
    <string>asterisk</string>
    <string>uni1394</string>
    <string>uni2DCD</string>
    <string>uniE51C</string>
    <string>uni12F8</string>
    <string>uni2DD8</string>
    <string>uni202A</string>
    <string>L</string>
    <string>NoBreakSpace</string>
    <string>bracketright</string>
    <string>uni134B</string>
    <string>uni1395</string>
    <string>uni1325</string>
    <string>uniE2AD</string>
    <string>five</string>
    <string>semicolon</string>
    <string>uni130A</string>
    <string>uni1387.sebLes2</string>
    <string>thorn</string>
    <string>sterling</string>
    <string>uni1255</string>
    <string>Uacute</string>
    <string>uni120F</string>
    <string>uni131C</string>
    <string>ccedilla</string>
    <string>uni1350</string>
    <string>uni1221</string>
    <string>uniE2BF</string>
    <string>uni132C</string>
    <string>uniFFFC</string>
    <string>question</string>
    <string>comma</string>
    <string>uni12E5.cohen6</string>
    <string>uni2029</string>
    <string>uni126E</string>
    <string>uni1366</string>
    <string>F</string>
    <string>uni2D95</string>
    <string>uni2DA3</string>
    <string>guillemotright.punct</string>
    <string>uni030F</string>
    <string>uni1297.cohen0</string>
    <string>k</string>
    <string>perthousand</string>
    <string>uni2DB8</string>
    <string>uniE37D</string>
    <string>uniE502</string>
    <string>uni121F.cohen1</string>
    <string>uniAB28</string>
    <string>uniAB13</string>
    <string>equal.punct</string>
    <string>uni1342</string>
    <string>dollar.punct</string>
    <string>egrave</string>
    <string>uni1295</string>
    <string>uni1246</string>
    <string>uni12DF</string>
    <string>asciicircum</string>
    <string>uni129A</string>
    <string>uni1371</string>
    <string>uni2DCE</string>
    <string>Y</string>
    <string>ordmasculine</string>
    <string>uni2DBA</string>
    <string>Euro</string>
    <string>uni129F.gumuz</string>
    <string>uni129C.gumuz</string>
    <string>uni2DB0</string>
    <string>uniE515</string>
    <string>uni12F4</string>
    <string>four</string>
    <string>uniE06D</string>
    <string>uni1215</string>
    <string>uni12B2</string>
    <string>nonmarkingreturn</string>
    <string>uni00AD</string>
    <string>uni1306</string>
    <string>uni1367</string>
    <string>uniAB01</string>
    <string>uni1299.gumuz</string>
    <string>foursuperior.punct</string>
    <string>section</string>
    <string>ninesuperior</string>
    <string>uni2DB5</string>
    <string>uni12BD</string>
    <string>uni1355</string>
    <string>uni1217</string>
    <string>uniE373</string>
    <string>uni12FB.oromo</string>
    <string>ocircumflex</string>
    <string>divide</string>
    <string>uni127F</string>
    <string>uniE217</string>
    <string>uniE2A8</string>
    <string>sixsuperior.punct</string>
    <string>uni2011</string>
    <string>T</string>
    <string>u</string>
    <string>uni1219</string>
    <string>quotedblbase</string>
    <string>uni1389</string>
    <string>A</string>
    <string>uni2DAE</string>
    <string>Zcaron</string>
    <string>uniE06C</string>
    <string>uni2DAD</string>
    <string>uni1358.ala1</string>
    <string>uniAB25</string>
    <string>Idieresis</string>
    <string>uni1340</string>
    <string>paragraph</string>
    <string>uniE2AB</string>
    <string>uni1377</string>
    <string>uni1273</string>
    <string>uni1335.praetorius</string>
    <string>uni1290</string>
    <string>uni1381.seb3</string>
    <string>mu</string>
    <string>edieresis</string>
    <string>uniAB23</string>
    <string>Ydieresis</string>
    <string>uni1238</string>
    <string>six</string>
    <string>uni1323</string>
    <string>uni200C</string>
    <string>odieresis</string>
    <string>uni1349</string>
    <string>uni1369</string>
    <string>uni128C.handwriting</string>
    <string>uni12E8</string>
    <string>fi</string>
    <string>uni12E6.chaine</string>
    <string>infinity</string>
    <string>quotedblleft</string>
    <string>uni1247</string>
    <string>uni131E.alt1</string>
    <string>uni1343</string>
    <string>uniAB06</string>
    <string>uni1385.seb3</string>
    <string>V</string>
    <string>Z</string>
    <string>CR</string>
    <string>hungarumlaut</string>
    <string>zero</string>
    <string>uni1383</string>
    <string>uniE51F</string>
    <string>Oacute</string>
    <string>uni2DA1</string>
    <string>uni12AB</string>
    <string>uni1336</string>
    <string>uni138B</string>
    <string>uni12EA</string>
    <string>uni2DAA</string>
    <string>uni133F.oldstyle</string>
    <string>uni1264</string>
    <string>uni1216</string>
    <string>uni133F</string>
    <string>uni129D</string>
    <string>uni1319</string>
    <string>Egrave</string>
    <string>threesuperior</string>
    <string>uni1387.sebLes</string>
    <string>uni2DD1</string>
    <string>uacute</string>
    <string>uniE509</string>
    <string>y</string>
    <string>uni1397</string>
    <string>uniE227</string>
    <string>uni1381.sebLes</string>
    <string>uni1373</string>
    <string>uni128A.handwriting</string>
    <string>uni1348</string>
    <string>uni1229</string>
    <string>breve</string>
    <string>multiply.punct</string>
    <string>uni1226</string>
    <string>aacute</string>
    <string>uni1313</string>
    <string>uni133C</string>
    <string>uni2D88</string>
    <string>uni2DC5</string>
    <string>uniFEFF</string>
    <string>uniE2B7</string>
    <string>uni122D</string>
    <string>uniE519</string>
    <string>uni12E5.chaine</string>
    <string>fl</string>
    <string>sixsuperior</string>
    <string>space</string>
    <string>uni1338</string>
    <string>uniFE04</string>
    <string>uni133A</string>
    <string>Oslash</string>
    <string>Ograve</string>
    <string>zero.punct</string>
    <string>h</string>
    <string>uni12B5</string>
    <string>uni136A</string>
    <string>uni1258</string>
    <string>Aring</string>
    <string>dieresis</string>
    <string>uni138B.sebLes</string>
    <string>uni2D94.blin</string>
    <string>uni1321</string>
    <string>Iacute</string>
    <string>uni2000</string>
    <string>four.punct</string>
    <string>Thorn</string>
    <string>uniE2D7</string>
    <string>uni1245</string>
    <string>ninesuperior.punct</string>
    <string>uni1318</string>
    <string>uniE512</string>
    <string>uni120C</string>
    <string>udieresis</string>
    <string>uniE51E</string>
    <string>uni2DD3</string>
    <string>emptyset</string>
    <string>uniE528</string>
    <string>aring</string>
    <string>uni1269</string>
    <string>uni1298.gumuz</string>
    <string>uni1352</string>
    <string>uni1370</string>
    <string>guillemotleft</string>
    <string>uni1209</string>
    <string>uni1252</string>
    <string>uni121C</string>
    <string>uni131A.alt1</string>
    <string>uni1312</string>
    <string>threequarters</string>
    <string>colon</string>
    <string>five.punct</string>
    <string>slash</string>
    <string>e</string>
    <string>uniE37E</string>
    <string>uni1354</string>
    <string>uni12B4</string>
    <string>uni1375</string>
    <string>X</string>
    <string>uni2D82</string>
    <string>uniFE01</string>
    <string>uni1335</string>
    <string>uni1386</string>
    <string>uni12B5.seb2</string>
    <string>registered</string>
    <string>Adieresis</string>
    <string>uni131D.alt1</string>
    <string>uni121F</string>
    <string>Delta</string>
    <string>uni1253</string>
    <string>uni133E</string>
    <string>uni121A</string>
    <string>uni12E5</string>
    <string>uni2D86</string>
    <string>uniAB0C</string>
    <string>uni12E4.cohen6</string>
    <string>uni12F0</string>
    <string>ntilde</string>
    <string>uni1288</string>
    <string>uni12A1</string>
    <string>uni1301</string>
    <string>uni2D95.blin</string>
    <string>uniFE09</string>
    <string>uni2D90</string>
    <string>uni123E</string>
    <string>uniE521</string>
    <string>o</string>
    <string>uni137B</string>
    <string>C</string>
    <string>uni2D93.blin</string>
    <string>uni134F.cohen4</string>
    <string>uni121D</string>
    <string>ydieresis</string>
    <string>uni2DD4</string>
    <string>uni128A</string>
    <string>three</string>
    <string>one</string>
    <string>uni202E</string>
    <string>uni1303</string>
    <string>uni1326</string>
    <string>uni1332</string>
    <string>uni135D</string>
    <string>uni12A2</string>
    <string>uni12C5.seb2</string>
    <string>uniAB29</string>
    <string>a</string>
    <string>R</string>
    <string>uni121B</string>
    <string>uni120B</string>
    <string>plus</string>
    <string>uniAB20</string>
    <string>uni2DB6</string>
    <string>uni1200</string>
    <string>uni2DA2</string>
    <string>uniE522</string>
    <string>two</string>
    <string>uni12A0</string>
    <string>uni1236</string>
    <string>uni131C.alt1</string>
    <string>uni2DBB</string>
    <string>uni12E1.chaine</string>
    <string>uni1270</string>
    <string>uni1378</string>
    <string>uni2007</string>
    <string>uni12D9</string>
    <string>uni2DD9</string>
    <string>uni1333</string>
    <string>uni131D</string>
    <string>Edieresis</string>
    <string>ring</string>
    <string>uni030B</string>
    <string>uni2DC8</string>
    <string>uni1307</string>
    <string>uni1329</string>
    <string>ellipsis</string>
    <string>uni2DD6</string>
    <string>Ntilde</string>
    <string>uni123D</string>
    <string>uniFE05</string>
    <string>uni135A</string>
    <string>N</string>
    <string>uni202F</string>
    <string>uni1296</string>
    <string>quotedblright</string>
    <string>uni2D8A</string>
    <string>uni12FC.oromo</string>
    <string>uni1297.oldstyle</string>
    <string>uniAB21</string>
    <string>uniFE0E</string>
    <string>uni133B</string>
    <string>uni1393</string>
    <string>emdash</string>
    <string>uni122E</string>
    <string>uni12C3.cohen7</string>
    <string>uni2DC9</string>
    <string>uni25CC</string>
    <string>uni2D87</string>
    <string>uni1399</string>
    <string>daggerdbl</string>
    <string>uni12D8</string>
    <string>uni12E0.cohen6</string>
    <string>uniE371</string>
    <string>uni124A</string>
    <string>Igrave</string>
    <string>uniE510</string>
    <string>uni127E</string>
    <string>E</string>
    <string>uniAB05</string>
    <string>uni2DDE</string>
    <string>uni0307</string>
    <string>uni2DB1</string>
    <string>uni200D</string>
    <string>questiondown</string>
    <string>uni130E</string>
    <string>uni200A</string>
    <string>uni134E</string>
    <string>uni2DC4</string>
    <string>numbersign</string>
    <string>parenleft</string>
    <string>uni138F.sebLes5</string>
    <string>uni12FE</string>
    <string>uni030C</string>
    <string>uni122B</string>
    <string>uniE518</string>
    <string>uni1223</string>
    <string>Udieresis</string>
    <string>uniE34F</string>
    <string>uni2DDC</string>
    <string>uni1276</string>
    <string>uni1284</string>
    <string>uni135E</string>
    <string>eight.punct</string>
    <string>quotedblright.punct</string>
    <string>uni131B.alt1</string>
    <string>uni0308</string>
    <string>idieresis</string>
    <string>uni1390</string>
    <string>uni1365</string>
    <string>uni1275</string>
    <string>uni1385</string>
    <string>uni12D0</string>
    <string>uni12D5</string>
    <string>uniE517</string>
    <string>m</string>
    <string>ograve</string>
    <string>oacute</string>
    <string>onequarter</string>
    <string>uni2DB3</string>
    <string>uni12FA</string>
    <string>Otilde</string>
    <string>uni12E1</string>
    <string>uniFE0C</string>
    <string>uni1224</string>
    <string>uni1314</string>
    <string>f</string>
    <string>uni2002</string>
    <string>uni2D93</string>
    <string>Ecircumflex</string>
    <string>uni126F</string>
    <string>uniE070</string>
    <string>uni1372</string>
    <string>uniFE0D</string>
    <string>uni12F2</string>
    <string>uni1277</string>
    <string>uni1218</string>
    <string>uni127D</string>
    <string>uni12C2.seb3</string>
    <string>uni138D</string>
    <string>uni12CA</string>
    <string>uni136D</string>
    <string>twosuperior</string>
    <string>uniAB02</string>
    <string>uni1313.oldstyle</string>
    <string>O</string>
    <string>uni124A.seb3</string>
    <string>oe</string>
    <string>J</string>
    <string>uni129C</string>
    <string>uni1318.alt1</string>
    <string>uni2DD2</string>
    <string>uniFFFD</string>
    <string>uni12A8</string>
    <string>uni2D8C</string>
    <string>uni12A9</string>
    <string>uni128B.handwriting</string>
    <string>uniE49C</string>
    <string>uni1297</string>
    <string>uni1302</string>
    <string>uni125D</string>
    <string>uni1281</string>
    <string>uni2122</string>
    <string>uni12DB</string>
    <string>uni1339</string>
    <string>uni2DBD</string>
    <string>dagger</string>
    <string>notequal</string>
    <string>uni129F.gumuz1</string>
    <string>uni1274</string>
    <string>uni1330</string>
    <string>eight</string>
    <string>uni1345</string>
    <string>uni134A</string>
    <string>uni138E</string>
    <string>uni134F.oldstyle</string>
    <string>uniE514</string>
    <string>copyright.punct</string>
    <string>uni1278</string>
    <string>uni12E1.cohen6</string>
    <string>exclamdown.punct</string>
    <string>uni12D6</string>
    <string>nine.punct</string>
    <string>greater</string>
    <string>guilsinglright</string>
    <string>uni2DCA</string>
    <string>uni12A5</string>
    <string>uni1251</string>
    <string>florin</string>
    <string>uni137C</string>
    <string>uni2DC0</string>
    <string>uniE513</string>
    <string>uni1239</string>
    <string>S</string>
    <string>uni12A3</string>
    <string>quotesinglbase</string>
    <string>uni131F</string>
    <string>uni2DB4</string>
    <string>uni12B8</string>
    <string>uniE376</string>
    <string>uni129F</string>
    <string>uni123F</string>
    <string>uni130B</string>
    <string>uni132D</string>
    <string>uniAB0B</string>
    <string>uniAB11</string>
    <string>guilsinglright.punct</string>
    <string>s</string>
    <string>uni1205</string>
    <string>uni2DAB</string>
    <string>uni1360</string>
    <string>partialdiff</string>
    <string>uni1285</string>
    <string>uni128C</string>
    <string>uni12A4</string>
    <string>uni2DBE</string>
    <string>uni2D8D</string>
    <string>uniAB2A</string>
    <string>uni1261</string>
    <string>uni2003</string>
    <string>uniAB15</string>
    <string>D</string>
    <string>uni2D85</string>
    <string>uni1237</string>
    <string>uniAB2C</string>
    <string>Aacute</string>
    <string>B</string>
    <string>slash.punct</string>
    <string>backslash</string>
    <string>plus.punct</string>
    <string>uni126D</string>
    <string>uni136B</string>
    <string>uni137A</string>
    <string>uni12F9.oromo</string>
    <string>uni1391</string>
    <string>Yacute</string>
    <string>uni1305</string>
    <string>uni1214</string>
    <string>question.punct</string>
    <string>circumflex</string>
    <string>guilsinglleft</string>
    <string>degree</string>
    <string>uni1381.seb5</string>
    <string>igrave</string>
    <string>uniE2E7</string>
    <string>oslash</string>
    <string>quoteleft.punct</string>
    <string>uniAB09</string>
    <string>guillemotright</string>
    <string>uni203B</string>
    <string>uni12B2.seb3</string>
    <string>uni1358</string>
    <string>uni2DC2</string>
    <string>w</string>
    <string>uni129F.cohen8</string>
    <string>eightsuperior</string>
    <string>equal</string>
    <string>fivesuperior.punct</string>
    <string>uni125B</string>
    <string>uniE257</string>
    <string>uni126B</string>
    <string>M</string>
    <string>uni138C</string>
    <string>t</string>
    <string>Eacute</string>
    <string>braceleft</string>
    <string>iacute</string>
    <string>uniE26F</string>
    <string>uni2D8F</string>
    <string>uniAB04</string>
    <string>uniE49D</string>
    <string>uni12C4</string>
    <string>uniE511</string>
    <string>underscore</string>
    <string>uni12DC</string>
    <string>six.punct</string>
    <string>uni1234</string>
    <string>seven.punct</string>
    <string>p</string>
    <string>uni12F9</string>
    <string>uniAB22</string>
    <string>uni1241</string>
    <string>uni12D2</string>
    <string>uni1250</string>
    <string>.null</string>
    <string>uni1337</string>
    <string>uni138A</string>
    <string>uni1309</string>
    <string>logicalnot</string>
    <string>uni12E7</string>
    <string>uni12AD</string>
    <string>uni2060</string>
    <string>Euro.punct</string>
    <string>lessequal</string>
    <string>uni1288.handwriting</string>
    <string>less</string>
    <string>uni1222</string>
    <string>j</string>
    <string>uniFE0F</string>
    <string>uni1260</string>
    <string>uni2DA5</string>
    <string>eth</string>
    <string>uni122A</string>
    <string>uni12EB</string>
    <string>uni123A</string>
    <string>at</string>
    <string>uni1266</string>
    <string>zcaron</string>
    <string>ecircumflex</string>
    <string>z</string>
    <string>period</string>
    <string>bullet</string>
    <string>uni1256</string>
    <string>uni136F</string>
    <string>uni138F.sebLes</string>
    <string>uni12AF</string>
    <string>uni1294</string>
    <string>uni1362</string>
    <string>cent</string>
    <string>ordfeminine</string>
    <string>i</string>
    <string>uni12D3</string>
    <string>uni2DA9</string>
    <string>uni200F</string>
    <string>uniE372</string>
    <string>uniE529</string>
    <string>OE</string>
    <string>uni1210</string>
    <string>uni12F7</string>
    <string>uni2DCB</string>
    <string>currency</string>
    <string>uni12E3.cohen6</string>
    <string>uni123C</string>
    <string>uni1324</string>
    <string>uni12A6</string>
    <string>zerosuperior.punct</string>
    <string>uni1208</string>
    <string>product</string>
    <string>uniE49A</string>
    <string>uni1344</string>
    <string>uni1263</string>
    <string>uni122F.cohen3</string>
    <string>uni1328</string>
    <string>eightsuperior.punct</string>
    <string>uni1388</string>
    <string>Agrave</string>
    <string>uni1327</string>
    <string>uni132B</string>
    <string>uni1243</string>
    <string>uni1203</string>
    <string>uni12E2</string>
    <string>uni12BE</string>
    <string>uni1363</string>
    <string>uni2DBC</string>
    <string>uni132E</string>
    <string>macron</string>
    <string>uni1283</string>
    <string>uni1312.seb3</string>
    <string>uni12AA</string>
    <string>uni12C8</string>
    <string>approxequal</string>
    <string>percent</string>
    <string>uni12AC</string>
    <string>uniE069</string>
    <string>uni02C9</string>
    <string>uniE25F</string>
    <string>asterisk.punct</string>
    <string>.notdef</string>
    <string>uni12B3</string>
    <string>uni12F3</string>
    <string>uni12AE</string>
    <string>uniE51B</string>
    <string>Scaron</string>
    <string>onesuperior.punct</string>
    <string>uni1308</string>
    <string>adieresis</string>
    <string>Icircumflex</string>
    <string>uni1271</string>
    <string>uni1353</string>
    <string>uni2DC3</string>
    <string>uniE520</string>
    <string>integral</string>
    <string>uniE508</string>
    <string>q</string>
    <string>uni128D</string>
    <string>uni12E3</string>
    <string>uniE50A</string>
    <string>one.punct</string>
    <string>uni136E</string>
    <string>U</string>
    <string>uni129A.gumuz</string>
    <string>tilde</string>
    <string>exclam</string>
    <string>uni131B</string>
    <string>uni2005</string>
    <string>brokenbar</string>
    <string>g</string>
    <string>eacute</string>
    <string>uni2713</string>
    <string>asciitilde</string>
    <string>uni1310</string>
    <string>uni12EF</string>
    <string>uni1382</string>
    <string>uni2DD0</string>
    <string>uni1235</string>
    <string>uni1206</string>
    <string>uni2DA8</string>
    <string>uni2DB2</string>
    <string>uni12DE</string>
    <string>uni12D1</string>
    <string>uni2D96</string>
    <string>uni1265</string>
    <string>uni12E0.chaine</string>
    <string>uni1201</string>
    <string>uni1280</string>
    <string>uni1213</string>
    <string>uni12FE.oromo</string>
    <string>uni1392</string>
    <string>uniE375</string>
    <string>uni132A</string>
    <string>uni128D.handwriting</string>
    <string>uni1334</string>
    <string>uni1212</string>
    <string>uni1374</string>
    <string>quoteleft</string>
    <string>uniE51A</string>
    <string>uni2D8E</string>
    <string>uni138A.trad</string>
    <string>uni12ED</string>
    <string>uni2001</string>
    <string>parenright</string>
    <string>uniE37A</string>
    <string>uni1282</string>
    <string>uni120D</string>
    <string>uni124C</string>
    <string>uni12F5</string>
    <string>uni12BC</string>
    <string>uni130D</string>
    <string>uniAB0D</string>
    <string>percent.punct</string>
    <string>uniAB2D</string>
    <string>uniE374</string>
    <string>uniE37F</string>
    <string>two.punct</string>
    <string>uni2D91</string>
    <string>copyright</string>
    <string>uniFE07</string>
    <string>uni2D92</string>
    <string>twosuperior.punct</string>
    <string>uni138F</string>
    <string>uni2D96.blin</string>
    <string>uniE500</string>
    <string>uni12D4</string>
    <string>K</string>
    <string>acute</string>
    <string>greaterequal</string>
    <string>radical</string>
    <string>uni12FB</string>
    <string>quotedbl</string>
    <string>uni12E4.chaine</string>
    <string>uniAB16</string>
    <string>sevensuperior.punct</string>
    <string>uni1319.alt1</string>
    <string>uni138D.seb3</string>
    <string>uni2DA0</string>
    <string>uni138B.sebLes3</string>
    <string>uni12C2</string>
    <string>c</string>
    <string>uni1286</string>
    <string>uni1254</string>
    <string>Eth</string>
    <string>H</string>
    <string>uni1315.seb2</string>
    <string>uni1322</string>
    <string>uni1204</string>
    <string>uni2D94</string>
    <string>uni127C</string>
    <string>uni1381.sebLes1</string>
    <string>uniAB12</string>
    <string>uni1244</string>
    <string>bar</string>
    <string>I</string>
    <string>uni121E</string>
    <string>summation</string>
    <string>uni2DA6</string>
    <string>uni1272</string>
    <string>uni12DD</string>
    <string>uni132F</string>
    <string>threesuperior.punct</string>
    <string>uni2DDB</string>
    <string>uni131A</string>
    <string>Odieresis</string>
    <string>ugrave</string>
    <string>uniAB2E</string>
    <string>uni12E5.oldstyle</string>
    <string>uni202D</string>
    <string>uni2010</string>
    <string>uni129B</string>
    <string>foursuperior</string>
    <string>uni1384</string>
    <string>uniE2D8</string>
    <string>uniE370</string>
    <string>uni1231</string>
    <string>uniE493</string>
    <string>uni1262</string>
    <string>P</string>
    <string>uni1346</string>
    <string>acircumflex</string>
    <string>uni1398</string>
    <string>uniFE00</string>
    <string>uni1300</string>
    <string>uni1292</string>
    <string>uni1379</string>
    <string>dollar</string>
    <string>uni12FF</string>
    <string>seven</string>
    <string>uni1304</string>
    <string>uni126C</string>
    <string>bracketleft</string>
    <string>yacute</string>
    <string>uni1225</string>
    <string>b</string>
    <string>uni133F.alt4</string>
    <string>uni1359.ala2</string>
    <string>plusminus</string>
    <string>uniE06E</string>
    <string>uni12B0</string>
    <string>uni12CD</string>
    <string>uni2DAC</string>
    <string>dotaccent</string>
    <string>uniE494</string>
    <string>pi</string>
    <string>uniE501</string>
    <string>guilsinglleft.punct</string>
    <string>uniAB03</string>
    <string>three.punct</string>
    <string>ucircumflex</string>
    <string>uni12CE</string>
    <string>uni12FA.oromo</string>
    <string>uniE06B</string>
    <string>x</string>
    <string>uni127B</string>
    <string>exclamdown</string>
    <string>yen</string>
    <string>uni2028</string>
    <string>uniE230</string>
    <string>uniE50F</string>
    <string>guillemotleft.punct</string>
    <string>uni1230</string>
    <string>multiply</string>
    <string>uni1320</string>
    <string>uni12EC</string>
    <string>uni1387</string>
    <string>uniE516</string>
    <string>uni2D80</string>
    <string>uni131F.type</string>
    <string>uni1287.alt3</string>
    <string>fivesuperior</string>
    <string>uniE071</string>
    <string>uni2DDA</string>
    <string>uni12B9</string>
    <string>tildecomb</string>
    <string>quoteright</string>
    <string>uniAB26</string>
    <string>uni12CF</string>
    <string>Acircumflex</string>
    <string>uni1376</string>
    <string>uni1351</string>
    <string>uniFE0A</string>
    <string>uni129E.gumuz</string>
    <string>uni1381</string>
    <string>uniE06A</string>
    <string>uniAB0A</string>
    <string>uni133D</string>
    <string>uni200E</string>
    <string>uni12C5</string>
    <string>uni2004</string>
    <string>uniE37C</string>
    <string>uniE49E</string>
    <string>uni12CC</string>
    <string>AE</string>
    <string>fraction</string>
    <string>uni2219</string>
    <string>uniE072</string>
    <string>uni1383.seb4</string>
    <string>uniE491</string>
    <string>uni12BA</string>
    <string>uni1368</string>
    <string>uni2DDD</string>
    <string>uniE2AA</string>
    <string>uni1356</string>
    <string>gravecomb</string>
    <string>uni1268</string>
    <string>uni122F</string>
    <string>uni1359</string>
    <string>onesuperior</string>
    <string>uni12FC</string>
    <string>n</string>
    <string>uni1331</string>
    <string>braceright</string>
    <string>sevensuperior</string>
    <string>uniAB2B</string>
    <string>nine</string>
    <string>uni1313.alonestokes</string>
    <string>Ocircumflex</string>
    <string>uni125C</string>
    <string>uni1298</string>
    <string>uniE2AE</string>
    <string>l</string>
    <string>uni134C</string>
    <string>uni121F.cohen2</string>
    <string>uni1313.seb0</string>
    <string>uniFE0B</string>
    <string>v</string>
    <string>uni1207</string>
    <string>uni1228</string>
    <string>uniE068</string>
    <string>uni12BB</string>
    <string>uni129D.gumuz</string>
    <string>uniE51D</string>
    <string>uni12DA</string>
    <string>grave</string>
    <string>d</string>
    <string>uni12A7</string>
    <string>uni12F1</string>
    <string>quoteright.punct</string>
    <string>uni1357</string>
    <string>uniAB0E</string>
    <string>uni12C3</string>
    <string>uni127A</string>
    <string>uni134F.cohen5</string>
    <string>cedilla</string>
    <string>uni1233</string>
    <string>uni124D.seb2</string>
    <string>uni1383.sebLes4</string>
    <string>G</string>
    <string>uni1211</string>
    <string>endash</string>
    <string>uni1232</string>
    <string>uni2D81</string>
    <string>uni12E0</string>
    <string>uni129E</string>
    <string>acutecomb</string>
    <string>uni134F</string>
    <string>uni134D</string>
    <string>agrave</string>
    <string>Q</string>
    <string>uni12EE</string>
    <string>uni1341</string>
    <string>uni200B</string>
    <string>uni2D83</string>
    <string>uni2DD5</string>
    <string>uni12CB</string>
    <string>ogonek</string>
    <string>uni1380</string>
    <string>uni1362.alt2</string>
    <string>uni2DC6</string>
    <string>periodcentered</string>
    <string>uni2D89</string>
    <string>uni0304</string>
    <string>uni135F</string>
    <string>uniE24F</string>
    <string>Ugrave</string>
    <string>caron</string>
    <string>uni130C</string>
    <string>uniFE08</string>
    <string>uni1364</string>
    <string>uni2008</string>
    <string>uni12FD.oromo</string>
    <string>icircumflex</string>
    <string>uni1227</string>
    <string>uni1396</string>
    <string>uniE496</string>
    <string>uni1361</string>
    <string>uni12E4</string>
    <string>uni12F8.oromo</string>
    <string>uni202B</string>
    <string>uni2DCC</string>
    <string>Atilde</string>
    <string>uni12E9</string>
    <string>uniAB24</string>
    <string>uni2009</string>
    <string>uni202C</string>
    <string>uniE2F8</string>
    <string>uni124B</string>
    <string>germandbls</string>
    <string>uni122C</string>
    <string>uni12F6</string>
    <string>uni2015</string>
    <string>uni1383.sebLes</string>
    <string>uni1299</string>
    <string>uniE37B</string>
    <string>uniE406</string>
    <string>scaron</string>
    <string>uni131E</string>
    <string>uni1279</string>
    <string>uni2DC1</string>
    <string>Omega</string>
    <string>atilde</string>
    <string>uni2D84</string>
    <string>uni1248</string>
    <string>uni1293</string>
    <string>uni2006</string>
    <string>uni130F</string>
    <string>uniFE06</string>
    <string>uni1315</string>
    <string>uniFE02</string>
    <string>uni1287</string>
    <string>uni12E6.cohen6</string>
    <string>uniE2AC</string>
    <string>uni12E6</string>
    <string>uni123B</string>
    <string>uni129B.gumuz</string>
    <string>ampersand</string>
    <string>tab</string>
    <string>uni2027</string>
    <string>ae</string>
    <string>minus</string>
    <string>uni1240</string>
    <string>uni12C3.oldstyle</string>
    <string>uni0302</string>
    <string>uni1220</string>
  </array>
  <key>public.postscriptNames</key>
  <dict>
    <key>Delta</key>
    <string>uni0394</string>
    <key>Omega</key>
    <string>uni03A9</string>
    <key>eightsuperior</key>
    <string>uni2078</string>
    <key>eightsuperior.punct</key>
    <string>uni2078.punct</string>
    <key>fivesuperior</key>
    <string>uni2075</string>
    <key>fivesuperior.punct</key>
    <string>uni2075.punct</string>
    <key>foursuperior</key>
    <string>uni2074</string>
    <key>foursuperior.punct</key>
    <string>uni2074.punct</string>
    <key>mu</key>
    <string>uni03BC</string>
    <key>ninesuperior</key>
    <string>uni2079</string>
    <key>ninesuperior.punct</key>
    <string>uni2079.punct</string>
    <key>onesuperior</key>
    <string>uni00B9</string>
    <key>onesuperior.punct</key>
    <string>uni00B9.punct</string>
    <key>sevensuperior</key>
    <string>uni2077</string>
    <key>sevensuperior.punct</key>
    <string>uni2077.punct</string>
    <key>sixsuperior</key>
    <string>uni2076</string>
    <key>sixsuperior.punct</key>
    <string>uni2076.punct</string>
    <key>threesuperior</key>
    <string>uni00B3</string>
    <key>threesuperior.punct</key>
    <string>uni00B3.punct</string>
    <key>twosuperior</key>
    <string>uni00B2</string>
    <key>twosuperior.punct</key>
    <string>uni00B2.punct</string>
    <key>zerosuperior</key>
    <string>uni2070</string>
    <key>zerosuperior.punct</key>
    <string>uni2070.punct</string>
  </dict>
</dict>
</plist>
